div.row{
    /* display: flex; */
}

img{
    width: 50%;
    /* display: block;
    align-self:flex-end;
    padding-bottom:3%; */
}

img#m{
    border-radius: 55px 55px 0 0;
    border: 2px solid rgb(255, 255, 255);
    padding:0.5%;
}

/* body{} */

#bigWarper{
    background: #920000;
    border-radius: 55px 55px 0 0;
    margin: 3% 3% 0 3%;
}

header{
    padding-top:3%;
    color: rgb(255, 255, 255);
    margin: 0 0 0 0 !important;
    width: 100% !important;
}

#aboutMe{
    text-align: justify;
}

#secondh1{
    padding-left:2%;
}

h1{
    font-size:370%;
}

header div ul{
    font-size:130%;
}

div.dropdown-menu a{
    display:block;
    margin-top:2px;
}

div.dropdown-menu a.active{
    background: rgb(255, 255, 255);
    border: 2px solid #920000;
}

nav ul li a{
    color: rgb(255, 255, 255);
    background: #630505;
    font-size: 120%;
}

nav ul li a.active{
    color:#920000;
}

/* This is mainly for My Bio */

#smallWarper{
    background: #920000;
}

#smallWarper>div{
    margin: 0 3% 0 3%;
    background: rgb(255, 255, 255);
}

#smallWarper div h1{
    margin-top:0;
    padding-top:1%;
}

#smallWarper div.row{
    width:100% !important;
    margin-right: 0 !important;    
}

#smallWarper img{
    padding: 2%;
    border: 2px solid #920000;
    width:100%;
    border-radius:20px;
}

#smallWarper h2{
    font-size: 250%;
}

.right h2{
    text-align:right;
}

.right ul
{
list-style-type: none;
padding: 0;
margin: 0;
text-align: right;
}

.right ul li
{
background-image: url(arrow.gif);
background-repeat: no-repeat;
background-position: 100% .4em;
padding-right: .6em;
}

/* This is mainly for More About Me */
.introP{
    text-align: center;
    background: #920000;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    margin: 1% 0 !important;
    border: 2px double rgb(255, 255, 255);
}

.introP p{
    text-align:justify;
}

#smallWarper h3{
    height: 2.6em;
    text-align: center;
    align-self: center;
}

i{
    color:#920000;
}
